<div class="container mt-3">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted"><a style="color: rgb(58, 56, 56); text-decoration: none;" routerLink="/home">Suleiman Shop</a></h3>
        <hr class="my-4">
        
   </div>

    
    <router-outlet></router-outlet>
    <hr class="my-4">
    
    <footer class="footer">
        <p> My E-Mail: suleimanalbalkhi@gmail.com </p>
    </footer>
</div>